// Color Variables for Project

dfSlate = #4a525a;
dfOffWhite = #eeeeee;
dfGray = #dddddd;

// Fonts Used in Project

sans-serif-primary = "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
sans-serif-secondary = Verdana, "Bitstream Vera Sans", sans-serif;

// Working Variables

font-header = sans-serif-primary;
font-body = sans-serif-secondary;

color-primary-bg = dfSlate;
color-primary-font = dfOffWhite;
color-selection = saturate(darken(color-primary-bg, 15%), 20%);

html-df = '&#10026';
